# secrets
.env
**/.env

# docker runtime / state
**/work/
**/library/
**/letsencrypt/
**/mysql/
**/conf
**/postgres/
**/data/
**/db/
**/dockhand-data/
**/dockhand/config
**/ts/
**/uploads/
**/adguardhome/adguard-data/
**/adguardhome/config/
**/it-tools/config/
**/navidrome/config/
**/navidrome/navidrome-data/

# tailscale
**/tailscale/

# misc
*.log
